<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление Пользователями</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
       <div class="row">
          <div class="col-md-12">
              <h1> Пользователи </h1>
              <a href="new">Добавить пользователя</a>
          </div>
       </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${allUsers}">
                    <td th:text="${user.getFirstName()}"/>
                    <td th:text="${user.getLastName()}"/>
                    <td th:text="${user.getEmail()}"/>
                    <td>
                        <a th:href="@{'/edit/' + ${user.id}}">Edit</a>
                        &nbsp;&nbsp;&nbsp;
                        <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>